.item {
    margin:2%;
    width: 400px;
    height: 390px;
    display: block;
    object-fit: cover;
    padding: 20px 20px;
    background-color: #ffc9416c;
    margin: 5% 0;

}

.itemwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    max-width: 200px;
}


p {
    font-size: 14px;
    color: #333;
    padding: 2px;
}

p:nth-of-type(1) {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px;
}

p:nth-of-type(3) {
    font-size: 1rem;
    font-weight:lighter;
    font-style: oblique;
}

.listlayout {
    padding: 2rem;
    margin: 0 auto;
    padding-inline: 1rem;
}

img {
    height: 200px;
}


.details {
    margin:2%;
    width: 400px;
    height: 430px;
    padding: 20px 20px;
    background-color: #ffc9416c;
    margin: 5% 0;
}



